main > .camp, main > .camp-pros, main > .camp-price, main > .camp-moto, main > .camp-moto > *:first-child, main > .camp-moto > *:nth-child(2), main > .camp > .main-info, main > .camp > .main-info > .about, main > .camp > .main-info > .projects > .list, main > .camp > .main-info > .projects > .list > .project, main > .camp > .main-info > .projects > .list > .project > .image, main > .camp > .main-info > .result, main > .camp-pros > .list, main > .camp-pros > .list > * > .logo, main > .camp-price > *, main > .camp-price > * > .text > .parts, main > .camp-map, main > .camp-map > .data, main > .camp-map > .data > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }
  @media all and (min-width: 1080px) {
    * {
      font-size: 11pt; } }
  @media all and (max-width: 1079px) and (min-width: 480px) {
    * {
      font-size: 8pt; } }
  @media all and (max-width: 480px) {
    * {
      font-size: 12pt; } }

main > .camp, main > .camp-moto, main > .camp-pros, main > .camp-price, main > .camp-map {
  color: #4F5252;
  background-color: #fdd933; }

main > .camp, main > .camp-pros, main > .camp-price, main > .camp-moto {
  min-height: 500px;
  border-bottom: 2px solid white; }
  main > .camp h1, main > .camp-pros h1, main > .camp-price h1, main > .camp-moto h1 {
    font-size: 22pt;
    font-weight: lighter;
    padding-bottom: 20px; }

main > .camp > *, main > .camp-pros > *, main > .camp-price > * {
  margin-left: auto;
  margin-right: auto; }
  @media all and (min-width: 1080px) {
    main > .camp > *, main > .camp-pros > *, main > .camp-price > * {
      width: 1080px; } }
  @media all and (max-width: 1079px) {
    main > .camp > *, main > .camp-pros > *, main > .camp-price > * {
      width: 96%; } }

main > .camp-moto {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  padding: 0; }
  main > .camp-moto > *:first-child {
    padding-right: 30px;
    border-right: 2px solid white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media all and (min-width: 1080px) {
      main > .camp-moto > *:first-child {
        width: 509px; } }
    @media all and (max-width: 1079px) {
      main > .camp-moto > *:first-child {
        width: calc(48% - 31px); } }
  main > .camp-moto > *:nth-child(2) {
    width: calc(50% - 4px); }

main > .camp > .main-info {
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  main > .camp > .main-info > .title {
    font-size: 19pt;
    font-weight: bold;
    width: 30%; }
    main > .camp > .main-info > .title > .subtitle {
      font-size: 19pt;
      font-weight: normal; }
  main > .camp > .main-info > .about {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    width: 50%;
    color: #4667FF;
    padding-bottom: 60px; }
    main > .camp > .main-info > .about > img {
      width: 30%; }
    main > .camp > .main-info > .about > .script {
      width: 65%; }
      main > .camp > .main-info > .about > .script > .title {
        font-size: 21pt;
        font-weight: bold;
        padding-bottom: 30px;
        text-transform: capitalize; }
  main > .camp > .main-info > .projects {
    color: #4667FF; }
    main > .camp > .main-info > .projects > .list {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
      color: black;
      margin-top: auto;
      margin-bottom: auto;
      padding-bottom: 60px;
      padding-top: 30px; }
      main > .camp > .main-info > .projects > .list > .project {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 12%;
        font-size: 9pt;
        text-align: center; }
        main > .camp > .main-info > .projects > .list > .project > .title {
          font-weight: bold;
          font-size: 11pt; }
        main > .camp > .main-info > .projects > .list > .project > .image {
          -webkit-box-direction: normal;
          -webkit-box-orient: horizontal;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          width: 70%;
          margin-left: auto;
          margin-right: auto; }
          main > .camp > .main-info > .projects > .list > .project > .image > img {
            width: 100%;
            height: 100%; }
  main > .camp > .main-info > .result {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    margin-top: auto; }
    main > .camp > .main-info > .result > .image {
      width: 45%; }
    main > .camp > .main-info > .result > .text {
      width: 50%; }
      main > .camp > .main-info > .result > .text > .title {
        font-size: 21pt;
        padding-bottom: 10px; }

main > .camp-moto {
  min-height: 0px; }
  main > .camp-moto > .text {
    font-size: 21pt; }
  main > .camp-moto > .image > .wraper {
    width: 100%; }
    main > .camp-moto > .image > .wraper > img {
      width: 100%;
      display: block; }

main > .camp-pros {
  min-height: 0px; }
  main > .camp-pros > .list {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    main > .camp-pros > .list > * {
      padding-top: 40px;
      padding-bottom: 40px; }
      main > .camp-pros > .list > *:nth-child(1) > * {
        padding-right: 30px; }
      main > .camp-pros > .list > *:nth-child(n + 2) > * {
        padding-left: 30px; }
      main > .camp-pros > .list > * > .logo {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        margin-bottom: 30px; }
        main > .camp-pros > .list > * > .logo > .image {
          width: 33%;
          padding-right: 30px; }
          main > .camp-pros > .list > * > .logo > .image > img {
            width: 100%; }
        main > .camp-pros > .list > * > .logo > .text {
          font-size: 15pt;
          font-weight: bold;
          margin-top: auto;
          margin-bottom: auto; }
      main > .camp-pros > .list > * > ul {
        padding-right: 50px;
        margin-left: 10px; }
        main > .camp-pros > .list > * > ul > li {
          padding-bottom: 10px; }
    main > .camp-pros > .list > .interest {
      border-right: 2px solid white; }
      @media all and (min-width: 1080px) {
        main > .camp-pros > .list > .interest {
          width: 358px; } }
      @media all and (max-width: 1079px) {
        main > .camp-pros > .list > .interest {
          width: calc(34% - 2px); } }
    @media all and (min-width: 1080px) {
      main > .camp-pros > .list > .safety {
        width: 360px; } }
    @media all and (max-width: 1079px) {
      main > .camp-pros > .list > .safety {
        width: 32%; } }
    main > .camp-pros > .list > .health {
      border-left: 2px solid white; }
      @media all and (min-width: 1080px) {
        main > .camp-pros > .list > .health {
          width: 358px; } }
      @media all and (max-width: 1079px) {
        main > .camp-pros > .list > .health {
          width: calc(34% - 2px); } }

main > .camp-price {
  min-height: 0px;
  padding-top: 30px;
  padding-bottom: 30px; }
  main > .camp-price > * {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    main > .camp-price > * > .image {
      width: 10%; }
      main > .camp-price > * > .image > img {
        width: 100%; }
    main > .camp-price > * > .text {
      width: 85%; }
      main > .camp-price > * > .text > .main {
        font-size: 15pt;
        font-weight: bold;
        padding-bottom: 20px; }
      main > .camp-price > * > .text > .parts {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
        main > .camp-price > * > .text > .parts > * {
          width: 33%;
          padding-right: 30px; }
        main > .camp-price > * > .text > .parts .number {
          font-weight: bold; }

main > .camp-map {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  height: 250px;
  border-bottom: 2px solid white; }
  main > .camp-map #camp-map {
    border-right: 2px solid white; }
    @media all and (min-width: 1080px) {
      main > .camp-map #camp-map {
        width: calc(50% + 162px); } }
    @media all and (max-width: 1079px) {
      main > .camp-map #camp-map {
        width: 64%; } }
  main > .camp-map > .data {
    height: 100%;
    padding-left: 30px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
    font-weight: bold; }
    @media all and (min-width: 1080px) {
      main > .camp-map > .data {
        width: 382px; } }
    @media all and (max-width: 1079px) {
      main > .camp-map > .data {
        width: 34%; } }
    main > .camp-map > .data > .name > a {
      display: none; }
    main > .camp-map > .data > * {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      main > .camp-map > .data > * > a {
        text-decoration: none;
        color: #4F5252;
        margin-top: 10px;
        border-radius: 20px;
        border: 2px solid black;
        padding: 5px 7px;
        margin-right: auto; }
