main > .camp > .main-info > .projects > .list, main > .camp-pros > .list {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: 40px; }
  main > .camp > .main-info > .projects > .list > *, main > .camp-pros > .list > * {
    visibility: hidden; }
  main > .camp > .main-info > .projects > .list .slide, main > .camp-pros > .list .slide {
    visibility: visible;
    position: relative;
    width: 80vw;
    height: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-shrink: 0; }
    main > .camp > .main-info > .projects > .list .slide.additional, main > .camp-pros > .list .slide.additional {
      visibility: hidden; }
  main > .camp > .main-info > .projects > .list nav, main > .camp-pros > .list nav {
    visibility: visible;
    position: absolute;
    bottom: 0;
    width: auto; }
    main > .camp > .main-info > .projects > .list nav div, main > .camp-pros > .list nav div {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      margin: 0 8px;
      background: transparent;
      border-radius: 8px;
      overflow: hidden;
      text-indent: -999em;
      border: 2px solid white;
      cursor: pointer; }
      main > .camp > .main-info > .projects > .list nav div.current, main > .camp-pros > .list nav div.current {
        background-color: white; }

main > .camp, main > .camp-moto, main > .camp-pros, main > .camp-price, main > .camp-map, main > .camp > .main-info > .title, main > .camp > .main-info > .about, main > .camp > .main-info > .projects > .list > .project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

main > .camp, main > .camp-moto, main > .camp-pros, main > .camp-price, main > .camp-map {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 80px;
  border-bottom: 3px solid white; }

main > .camp, main > .camp-moto, main > .camp-pros, main > .camp-price, main > .camp-map {
  color: #4F5252;
  background-color: #fdd933; }

main > .camp > .main-info {
  width: 80vw;
  margin-left: auto;
  margin-right: auto; }
  main > .camp > .main-info > .title {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    text-align: center;
    font-size: 17pt;
    font-weight: bold; }
    main > .camp > .main-info > .title > .subtitle {
      font-weight: normal;
      font-size: 17pt; }
  main > .camp > .main-info > .about {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 50px; }
    main > .camp > .main-info > .about > img {
      width: 30vw;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 30px; }
    main > .camp > .main-info > .about > .script {
      text-align: center;
      font-size: 20pt;
      color: #4667FF;
      padding-bottom: 60px; }
      main > .camp > .main-info > .about > .script > .title {
        font-size: 40pt;
        line-height: 1;
        padding-bottom: 30px;
        text-transform: capitalize; }
      main > .camp > .main-info > .about > .script > .info {
        font-size: 22pt; }
  main > .camp > .main-info > .projects {
    font-size: 20pt;
    text-align: center;
    color: #4667FF;
    padding-bottom: 50px; }
    main > .camp > .main-info > .projects > .list {
      padding-top: 40px; }
      main > .camp > .main-info > .projects > .list > .project {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        color: #4F5252; }
        main > .camp > .main-info > .projects > .list > .project > * {
          margin-left: auto;
          margin-right: auto; }
        main > .camp > .main-info > .projects > .list > .project img {
          width: 60%;
          margin-bottom: 20px; }
  main > .camp > .main-info > .result {
    text-align: center; }
    main > .camp > .main-info > .result > .text {
      padding-top: 30px; }
      main > .camp > .main-info > .result > .text > .title {
        font-weight: bold;
        font-size: 17pt;
        padding-bottom: 20px; }

main > .camp-moto {
  padding-top: 30px;
  padding-bottom: 0; }
  main > .camp-moto > .text {
    width: 80vw;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px; }
  main > .camp-moto img {
    width: 100%;
    display: block; }

main > .camp-pros {
  padding-top: 40px;
  padding-bottom: 40px; }
  main > .camp-pros > .list {
    width: 80vw;
    margin-right: auto;
    margin-left: auto; }
    main > .camp-pros > .list > * > .logo .image {
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 20px;
      width: 30%; }
      main > .camp-pros > .list > * > .logo .image img {
        width: 100%; }
    main > .camp-pros > .list > * > .logo .text {
      padding-bottom: 20px;
      text-align: center;
      font-size: 15pt;
      font-weight: bold; }
      main > .camp-pros > .list > * > .logo .text br {
        content: ' '; }
    main > .camp-pros > .list > * ul {
      margin-left: 20px; }

main > .camp-price {
  padding-top: 40px;
  padding-bottom: 40px; }
  main > .camp-price > * {
    width: 80vw;
    margin-left: auto;
    margin-right: auto; }
    main > .camp-price > * > .image {
      width: 60%;
      padding-bottom: 20px;
      margin-left: auto;
      margin-right: auto; }
      main > .camp-price > * > .image img {
        width: 100%; }
    main > .camp-price > * > .text > .main {
      text-align: center;
      font-size: 15pt;
      font-weight: bold;
      padding-bottom: 30px; }
    main > .camp-price > * > .text > .parts * {
      padding-bottom: 20px; }
      main > .camp-price > * > .text > .parts * .number {
        font-weight: bold; }

main > .camp-map {
  padding-top: 30px;
  padding-bottom: 30px; }
  main > .camp-map > .data {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    main > .camp-map > .data > div {
      font-weight: bold; }
      main > .camp-map > .data > div a {
        color: #4F5252;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
        border-radius: 20px;
        padding: 5px 7px;
        border: 1px solid #4F5252; }
    main > .camp-map > .data > .name {
      padding-bottom: 40px; }
