main > .inter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }
  @media all and (min-width: 1080px) {
    * {
      font-size: 11pt; } }
  @media all and (max-width: 1079px) and (min-width: 480px) {
    * {
      font-size: 8pt; } }
  @media all and (max-width: 480px) {
    * {
      font-size: 12pt; } }

main > .inter {
  color: white;
  background-color: #ee5930; }

main > .inter {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  min-height: 100px;
  border-bottom: 2px solid white; }
  main > .inter * {
    margin-top: auto;
    margin-bottom: auto; }
  main > .inter div {
    font-weight: bold; }
  main > .inter a {
    border-radius: 20px;
    border: 2px solid white;
    padding: 5px 7px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 20px; }
