main > .photos .galery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }
  @media all and (min-width: 1080px) {
    * {
      font-size: 11pt; } }
  @media all and (max-width: 1079px) and (min-width: 480px) {
    * {
      font-size: 8pt; } }
  @media all and (max-width: 480px) {
    * {
      font-size: 12pt; } }

main > .photos {
  background-color: #dedede;
  border-bottom: 3px solid white;
  position: relative; }
  main > .photos h1 {
    display: none; }
  main > .photos .galery {
    height: 500px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative; }
    main > .photos .galery img {
      height: 100%;
      width: auto;
      position: relative;
      margin-left: 0;
      opacity: 0.2;
      visibility: hidden; }
      main > .photos .galery img.current {
        opacity: 1; }
      main > .photos .galery img.additional:first-of-type, main > .photos .galery img.additional:last-of-type {
        opacity: 1; }
    main > .photos .galery .slide {
      visibility: visible; }
    main > .photos .galery .left {
      position: absolute;
      z-index: 2;
      cursor: pointer;
      top: 221px;
      left: 20px;
      width: 26px;
      height: 58px;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='58'><line x1='25' y1='1' x2='1' y2='29' stroke-width='5' stroke-linecap='round' stroke='rgb(255,255,255)'  /><line x1='1' y1='29' x2='25' y2='57' stroke-linecap='round' stroke-width='5' stroke='rgb(255,255,255)' /> </svg>") no-repeat; }
    main > .photos .galery .right {
      position: absolute;
      z-index: 2;
      cursor: pointer;
      top: 221px;
      right: 20px;
      width: 26px;
      height: 58px;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='58'><line x1='1' y1='1' x2='25' y2='29' stroke-width='5' stroke-linecap='round' stroke='rgb(255,255,255)'  /><line x1='25' y1='29' x2='1' y2='57' stroke-linecap='round' stroke-width='5' stroke='rgb(255,255,255)' /> </svg>") no-repeat; }
  main > .photos nav {
    position: absolute;
    bottom: 20px;
    width: auto; }
    main > .photos nav div {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      margin: 0 8px;
      background: transparent;
      border-radius: 8px;
      overflow: hidden;
      text-indent: -999em;
      border: 3px solid white;
      cursor: pointer; }
      main > .photos nav div.current {
        background-color: white; }
