@charset "UTF-8";
main > .register, main > .register > *, main > .register .content .intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }
  @media all and (min-width: 1080px) {
    * {
      font-size: 11pt; } }
  @media all and (max-width: 1079px) and (min-width: 480px) {
    * {
      font-size: 8pt; } }
  @media all and (max-width: 480px) {
    * {
      font-size: 12pt; } }

main > .register {
  color: white;
  background-color: #4667FF; }

main > .register {
  min-height: 500px;
  border-bottom: 2px solid white; }
  main > .register h1 {
    font-size: 22pt;
    font-weight: lighter;
    padding-bottom: 20px; }

main > .register > * {
  margin-left: auto;
  margin-right: auto; }
  @media all and (min-width: 1080px) {
    main > .register > * {
      width: 1080px; } }
  @media all and (max-width: 1079px) {
    main > .register > * {
      width: 96%; } }

main > .register {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px; }
  main > .register > * {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  main > .register .content {
    padding-bottom: 40px; }
    main > .register .content .intro {
      -webkit-box-direction: reverse;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row-reverse;
      -moz-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
      padding-bottom: 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 25pt; }
      @media all and (min-width: 1080px) {
        main > .register .content .intro {
          width: 450px; } }
      @media all and (max-width: 1079px) {
        main > .register .content .intro {
          width: 45%; } }
      @media all and (min-width: 1080px) {
        main > .register .content .intro {
          min-height: 183px; } }
    @media all and (min-width: 1080px) {
      main > .register .content .form {
        width: 440px; } }
    @media all and (max-width: 1079px) {
      main > .register .content .form {
        width: 40%; } }
    main > .register .content .form .notification {
      display: none; }
    main > .register .content .form.sent > form {
      display: none; }
    main > .register .content .form.sent > .notification {
      display: block;
      border: 5px solid #ee5930;
      font-size: 20pt;
      text-align: center;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 5%; }
    main > .register .content .form span {
      display: none; }
    main > .register .content .form input[type=text], main > .register .content .form input[type=date], main > .register .content .form input[type=email] {
      width: 100%;
      background-color: #4667FF;
      color: white;
      border: 0;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 20px; }
      main > .register .content .form input[type=text]:focus, main > .register .content .form input[type=date]:focus, main > .register .content .form input[type=email]:focus {
        border: 0;
        border-bottom: 1px solid white; }
      main > .register .content .form input[type=text]::-webkit-input-placeholder, main > .register .content .form input[type=date]::-webkit-input-placeholder, main > .register .content .form input[type=email]::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: white; }
      main > .register .content .form input[type=text]::-moz-placeholder, main > .register .content .form input[type=date]::-moz-placeholder, main > .register .content .form input[type=email]::-moz-placeholder {
        /* Firefox 19+ */
        color: white; }
      main > .register .content .form input[type=text]:-ms-input-placeholder, main > .register .content .form input[type=date]:-ms-input-placeholder, main > .register .content .form input[type=email]:-ms-input-placeholder {
        /* IE 10+ */
        color: white; }
      main > .register .content .form input[type=text]:-moz-placeholder, main > .register .content .form input[type=date]:-moz-placeholder, main > .register .content .form input[type=email]:-moz-placeholder {
        /* Firefox 18- */
        color: white; }
    main > .register .content .form .entry.required {
      position: relative; }
      main > .register .content .form .entry.required::after {
        display: block;
        content: "â—";
        font-family: monospace;
        width: 36px;
        height: 43px;
        font-size: 22px;
        line-height: 43px;
        position: absolute;
        right: 0px;
        bottom: 16px;
        color: #ee5930;
        z-index: 0; }
    main > .register .content .form input[type=submit] {
      opacity: 0.5;
      font-size: 17pt;
      font-weight: bold;
      background-color: #ee5930;
      color: white;
      border: 0;
      border-radius: 60px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 20px;
      display: block;
      margin-top: 20px; }
    main > .register .content .form select {
      width: 100%;
      background-color: #4667FF;
      color: white;
      border: 0;
      border-bottom: 1px solid white;
      border-radius: 0;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      -moz-appearance: none;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 20px; }
    main > .register .content .form .entry.select {
      position: relative; }
      main > .register .content .form .entry.select::after {
        display: block;
        content: "";
        font-family: monospace;
        width: 20px;
        height: 10px;
        position: absolute;
        right: 0px;
        bottom: 16px;
        color: #ee5930;
        z-index: 0;
        background-image: url(../../icons/arrow-form.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 20px;
        padding-right: 18px; }
  main > .register .footnote {
    font-weight: lighter;
    border-top: 1px solid white;
    padding-top: 10px; }
    main > .register .footnote * {
      font-size: 8pt; }
      main > .register .footnote *:first-child {
        width: 360px; }
      main > .register .footnote *:last-child {
        width: 720px; }
