@charset "UTF-8";
main > .register, main > .register .content, main > .register .content .intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

main > .register {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 80px;
  border-bottom: 3px solid white; }

main > .register {
  color: white;
  background-color: #4667FF; }

main > .register .footnote {
  display: none; }
main > .register .content {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  main > .register .content .intro {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20pt; }
  main > .register .content .form {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px; }
    main > .register .content .form span {
      display: none; }
    main > .register .content .form .notification {
      display: none; }
    main > .register .content .form.sent > form {
      display: none; }
    main > .register .content .form.sent > .notification {
      display: block;
      border: 5px solid #ee5930;
      font-size: 16pt;
      text-align: center;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 5%; }
    main > .register .content .form input[type=text], main > .register .content .form input[type=email] {
      width: 100%;
      background-color: #4667FF;
      color: white;
      border: 0;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 20px; }
      main > .register .content .form input[type=text]:focus, main > .register .content .form input[type=email]:focus {
        border: 0;
        border-bottom: 1px solid white; }
      main > .register .content .form input[type=text]::-webkit-input-placeholder, main > .register .content .form input[type=email]::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: white; }
      main > .register .content .form input[type=text]::-moz-placeholder, main > .register .content .form input[type=email]::-moz-placeholder {
        /* Firefox 19+ */
        color: white; }
      main > .register .content .form input[type=text]:-ms-input-placeholder, main > .register .content .form input[type=email]:-ms-input-placeholder {
        /* IE 10+ */
        color: white; }
      main > .register .content .form input[type=text]:-moz-placeholder, main > .register .content .form input[type=email]:-moz-placeholder {
        /* Firefox 18- */
        color: white; }
    main > .register .content .form .entry.required {
      position: relative; }
      main > .register .content .form .entry.required::after {
        display: block;
        content: "â—";
        font-family: monospace;
        width: 36px;
        height: 43px;
        font-size: 22px;
        line-height: 43px;
        position: absolute;
        right: 0px;
        bottom: 16px;
        color: #ee5930;
        z-index: 0; }
    main > .register .content .form input[type=submit] {
      background-color: #ee5930;
      color: white;
      border: 0;
      border-radius: 20px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 12px;
      display: block;
      -webkit-appearance: none;
      -webkit-border-radius: 20px; }
    main > .register .content .form .entry.select {
      position: relative; }
      main > .register .content .form .entry.select::after {
        display: block;
        content: "";
        font-family: monospace;
        width: 20px;
        height: 10px;
        position: absolute;
        right: 0px;
        bottom: 16px;
        color: #ee5930;
        z-index: 0;
        background-image: url(../../icons/arrow-form.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 20px;
        padding-right: 18px; }
    main > .register .content .form select {
      width: 100%;
      background-color: #4667FF;
      color: white;
      border: 0;
      border-bottom: 1px solid white;
      border-radius: 0;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 20px; }
