main > .reviews, main > .reviews .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }
  @media all and (min-width: 1080px) {
    * {
      font-size: 11pt; } }
  @media all and (max-width: 1079px) and (min-width: 480px) {
    * {
      font-size: 8pt; } }
  @media all and (max-width: 480px) {
    * {
      font-size: 12pt; } }

main > .reviews {
  color: white;
  background-color: #4667FF; }

main > .reviews {
  min-height: 500px;
  border-bottom: 2px solid white; }
  main > .reviews h1 {
    font-size: 22pt;
    font-weight: lighter;
    padding-bottom: 20px; }

main > .reviews > * {
  margin-left: auto;
  margin-right: auto; }
  @media all and (min-width: 1080px) {
    main > .reviews > * {
      width: 1080px; } }
  @media all and (max-width: 1079px) {
    main > .reviews > * {
      width: 96%; } }

main > .reviews {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  overflow: hidden; }
  main > .reviews .list {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    padding-left: calc(50% - 540px);
    position: relative; }
    main > .reviews .list .current + div > img {
      left: calc(547px - 100%);
      position: relative; }
    main > .reviews .list div {
      min-width: 100%;
      position: relative; }
      main > .reviews .list div img:first-child {
        width: 531px;
        max-width: 100%; }
      main > .reviews .list div img:nth-child(2) {
        display: none; }
    main > .reviews .list .left {
      position: absolute;
      z-index: 2;
      cursor: pointer;
      top: calc(50% - 29px);
      left: 20px;
      width: 26px;
      height: 58px;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='58'><line x1='25' y1='1' x2='1' y2='29' stroke-width='5' stroke-linecap='round' stroke='rgb(255,255,255)'  /><line x1='1' y1='29' x2='25' y2='57' stroke-linecap='round' stroke-width='5' stroke='rgb(255,255,255)' /> </svg>") no-repeat; }
    main > .reviews .list .right {
      position: absolute;
      z-index: 2;
      cursor: pointer;
      top: calc(50% - 29px);
      left: calc(100vw - 46px);
      width: 26px;
      height: 58px;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='58'><line x1='1' y1='1' x2='25' y2='29' stroke-width='5' stroke-linecap='round' stroke='rgb(255,255,255)'  /><line x1='25' y1='29' x2='1' y2='57' stroke-linecap='round' stroke-width='5' stroke='rgb(255,255,255)' /> </svg>") no-repeat; }
