main > .teachers, main > .teachers .list, main > .teachers .list .info, main > .teachers .list .info .name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }
  @media all and (min-width: 1080px) {
    * {
      font-size: 11pt; } }
  @media all and (max-width: 1079px) and (min-width: 480px) {
    * {
      font-size: 8pt; } }
  @media all and (max-width: 480px) {
    * {
      font-size: 12pt; } }

main > .teachers {
  color: white;
  background-color: #4667FF; }

main > .teachers {
  min-height: 500px;
  border-bottom: 2px solid white; }
  main > .teachers h1 {
    font-size: 22pt;
    font-weight: lighter;
    padding-bottom: 20px; }

main > .teachers > * {
  margin-left: auto;
  margin-right: auto; }
  @media all and (min-width: 1080px) {
    main > .teachers > * {
      width: 1080px; } }
  @media all and (max-width: 1079px) {
    main > .teachers > * {
      width: 96%; } }

main > .teachers {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  main > .teachers .list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 10px; }
    main > .teachers .list .info {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      @media all and (min-width: 1080px) {
        main > .teachers .list .info {
          width: 320px; } }
      @media all and (max-width: 1079px) {
        main > .teachers .list .info {
          width: 30%; } }
      main > .teachers .list .info img {
        width: 80px;
        height: 80px;
        display: block;
        padding-bottom: 10px; }
      main > .teachers .list .info .name {
        width: calc(100% - 100px);
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 10px;
        flex-direction: column; }
        main > .teachers .list .info .name * {
          font-size: 15pt;
          font-weight: 600; }
      main > .teachers .list .info .bio {
        width: 100%;
        font-weight: lighter; }
