footer > div, footer > div.phone, footer > div.email, footer > div.phone div > img:first-child, footer > div.email div > img:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }
  @media all and (min-width: 1080px) {
    * {
      font-size: 11pt; } }
  @media all and (max-width: 1079px) and (min-width: 480px) {
    * {
      font-size: 8pt; } }
  @media all and (max-width: 480px) {
    * {
      font-size: 12pt; } }

footer {
  background-color: #dedede;
  padding-left: 5vw;
  padding-right: 5vw; }
  footer > div {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px; }
    footer > div:last-child {
      border: 0; }
    footer > div.phone, footer > div.email {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      footer > div.phone > div, footer > div.email > div {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 15pt; }
      footer > div.phone div > img:first-child, footer > div.email div > img:first-child {
        width: 15vw;
        height: 15vw;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        padding-right: 5vw; }
      footer > div.phone img, footer > div.email img {
        height: 70%;
        width: 70%; }
      footer > div.phone a, footer > div.email a {
        text-decoration: none;
        color: #4F5252;
        cursor: pointer; }
    footer > div.vk-widget {
      text-align: center; }
      footer > div.vk-widget > div {
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px; }
    footer > div.info {
      text-align: center;
      color: #4F5252; }
      footer > div.info > div {
        text-align: center;
        font-size: 8pt; }
        footer > div.info > div:first-child {
          padding-bottom: 10px; }
