header, header > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }
  @media all and (min-width: 1080px) {
    * {
      font-size: 11pt; } }
  @media all and (max-width: 1079px) and (min-width: 480px) {
    * {
      font-size: 8pt; } }
  @media all and (max-width: 480px) {
    * {
      font-size: 12pt; } }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  background-color: #4667FF;
  font-size: 12pt;
  color: white;
  border-bottom: 2px solid white;
  z-index: 100; }
  header a:hover {
    opacity: 0.5; }
  header > div {
    border-right: 2px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    @media all and (min-width: 1080px) {
      header > div {
        width: 88px; } }
    @media all and (max-width: 1079px) {
      header > div {
        width: calc(8% - 2px); } }
    header > div a {
      text-decoration: none;
      color: white;
      cursor: pointer; }
    header > div:first-child {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start; }
    header > div.phone {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      justify-content: flex-end;
      border-right: 0; }
    header > div * {
      margin-bottom: auto;
      margin-top: auto; }
  @media all and (min-width: 1080px) {
    header .logo {
      width: 177px; } }
  @media all and (max-width: 1079px) {
    header .logo {
      width: calc(16% - 2px); } }
  @media all and (min-width: 1080px) {
    header .logo img {
      height: calc(12pt + 18px); } }
  @media all and (max-width: 1079px) {
    header .logo img {
      height: calc(8pt + 18px); } }
  header .phone {
    -webkit-box-ordinal-group: 101;
    -webkit-order: 100;
    -moz-order: 100;
    -ms-flex-order: 100;
    order: 100; }
    @media all and (min-width: 1080px) {
      header .phone {
        width: 180px; } }
    @media all and (max-width: 1079px) {
      header .phone {
        width: 16%; } }
  header .register {
    background-color: #fdd933;
    color: #4F5252; }
    @media all and (min-width: 1080px) {
      header .register {
        width: 268px; } }
    @media all and (max-width: 1079px) {
      header .register {
        width: calc(24% - 2px); } }
    header .register * {
      border-color: #4F5252 !important;
      color: #4F5252;
      background-color: #fdd933; }
  header .circled {
    border-radius: 20px;
    border: 2px solid white;
    padding: 5px 7px; }
  header .vk a {
    font-size: 9pt;
    font-weight: 900; }
  header .burger, header .cross {
    display: none; }
