main > .prices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

main > .prices {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 80px;
  border-bottom: 3px solid white; }

main > .prices {
  color: #4F5252;
  background-color: #dedede; }

main > .prices > * {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center; }
main > .prices h1 {
  font-size: 20pt; }
main > .prices .offer {
  order: 3;
  border: 0; }
main > .prices .list h2 {
  display: none; }
main > .prices .list .price {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  padding-top: 20px; }
  main > .prices .list .price:first-of-type {
    padding-top: 0; }
  main > .prices .list .price:last-of-type {
    border: 0;
    padding-bottom: 0; }
  main > .prices .list .price .duration {
    font-size: 25pt;
    font-weight: bold;
    padding-bottom: 5px; }
  main > .prices .list .price .value {
    font-weight: bold;
    font-size: 18pt;
    color: #ee5930; }
