main > .teachers .list {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: 40px; }
  main > .teachers .list > * {
    visibility: hidden; }
  main > .teachers .list .slide {
    visibility: visible;
    position: relative;
    width: 80vw;
    height: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-shrink: 0; }
    main > .teachers .list .slide.additional {
      visibility: hidden; }
  main > .teachers .list nav {
    visibility: visible;
    position: absolute;
    bottom: 0;
    width: auto; }
    main > .teachers .list nav div {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      margin: 0 8px;
      background: transparent;
      border-radius: 8px;
      overflow: hidden;
      text-indent: -999em;
      border: 2px solid white;
      cursor: pointer; }
      main > .teachers .list nav div.current {
        background-color: white; }

main > .teachers, main > .teachers .list > div, main > .teachers .list > div .name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

main > .teachers {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 80px;
  border-bottom: 3px solid white; }

main > .teachers {
  color: white;
  background-color: #4667FF; }

main > .teachers h1 {
  font-size: 20pt;
  text-align: center;
  padding-bottom: 40px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto; }
main > .teachers .list > div {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  main > .teachers .list > div > * {
    margin-left: auto;
    margin-right: auto; }
  main > .teachers .list > div img {
    margin-bottom: 20px; }
  main > .teachers .list > div .name {
    font-size: 15pt;
    font-weight: bold;
    text-align: center; }
    main > .teachers .list > div .name .first::after {
      content: ' ';
      white-space: pre; }
  main > .teachers .list > div .bio {
    text-align: center; }
