@import 'colors.scss';
@import 'flex.scss';

%row {
	@extend %flexbox;
	@include flex-direction(column);
	@include justify-content(center);

	padding-top: 70px;
	padding-bottom: 80px;

	border-bottom: 3px solid white;
}

%red {
	color: white;
	background-color: $red;
}

%gray {
	color: $black;
	background-color: $gray;
}

%blue {
	color: white;
	background-color: $blue;
}

%yellow {
	color: $black;
	background-color: $yellow;
}

