%slider {
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;

	position: relative;

	width: 100%;

	padding-bottom: 40px;

	& > * {
		visibility: hidden;
	}

	.slide {
		visibility: visible;

		position: relative;

		width: 80vw;
		height: 100%;

		padding-left: 10vw;
		padding-right: 10vw;

		flex-shrink: 0;

		&.additional {
			visibility: hidden;
		}
	}

	nav {
		visibility: visible;

		position: absolute;
		bottom: 0;
		width: auto;

		div {
			display: inline-block;
			vertical-align: middle;
			width: 8px;
			height: 8px;
			margin: 0 8px;
			background: transparent;
			border-radius: 8px;
			overflow: hidden;
			text-indent: -999em;
			border: 2px solid white;
			cursor: pointer;

			&.current {
				background-color: white;
			}
		}
	}
}

