@import 'common.scss';

footer {
	background-color: $gray;

	padding-left: 5vw;
	padding-right: 5vw; 

	& > div {
		@extend %flexbox;
		@include flex-direction(column);
		@include justify-content(center);

		border-bottom: 1px solid gray;

		padding-bottom: 20px;
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;

		&:last-child {
			border: 0;
		}

		&.phone, &.email {
			@extend %flexbox;
			@include justify-content(flex-start);
			@include flex-direction(row);

			& > div {
				margin-top: auto;
				margin-bottom: auto;

				font-size: 15pt;
			}
			
			div > img:first-child {
				width: 15vw;
				height: 15vw;
				@extend %flexbox;
				@include flex-direction(column);
				@include justify-content(center);
			
				padding-right: 5vw;
			}
		
			img {
				height: 70%;
				width: 70%;
			}

			a {
				text-decoration: none;
				color: $black;
				cursor: pointer;
			}	
		}

		&.vk-widget { 
			text-align: center;
			
			& > div {
				margin-left: auto;
				margin-right: auto;
				padding-top: 20px;
			}
		}

		&.info {
			text-align: center;
			color: $black;

			& > div {
				text-align: center;
				font-size: 8pt;

				&:first-child {
					padding-bottom: 10px;
				}
			}
		}
	}

}
