@import 'common.scss';

main > .inter {
	@extend %flexbox;
	@include justify-content(center);

	min-height: 100px;

	border-bottom: 2px solid white;

	* {
		margin-top: auto;
		margin-bottom: auto;
	}

	div {
		font-weight: bold;
	}

	a {
		border-radius: 20px;
		border: 2px solid white;

		padding: 5px 7px;
		text-decoration: none;
		color: white;
		cursor: pointer;

		margin-left: 20px;
	}

	@extend %red;
}
