@import 'common.scss';

main > .videos {
	.names {
		div {
			border-top: 2px solid white;

			&:first-of-type {
				border-top: 0;
			}

			h2 {
				font-weight: bold;
				font-size: 13pt;

				padding-top: 10px;
				padding-bottom: 10px;

				cursor: pointer;
			}

			div {
				font-weight: lighter;
				padding-bottom: 10px;
	
				display: none;
			}

			&.current > div {
				display: block;
			}
		}

		nav {
			display: none;
		}
	}

	.video {
		height: 1px;
		min-height: 500px;
		iframe {
			min-width: 100%;
			min-height: 100%;
			margin-top: auto;
			margin-bottom: auto;
		}
	}

	@extend %gray, %single-row;
}
