@import 'common.scss';

main > .addresses {
	.list {
		h2 {
			font-size: 22pt;
			font-weight: lighter;

			padding-bottom: 30px;
		}

		& > div {
			padding-bottom: 20px;

			div:nth-child(1) {
				display: inline-block;
			}
			div:nth-child(2) {
				@media all and (min-device-width: $large) {
					font-size: 9pt;
				}

				@media all and (max-device-width: $large - 1) {
					font-size: 6pt;
				}

				display: inline-block;
			}
			div:nth-child(3) {
				@media all and (min-device-width: $large) {
					font-size: 9pt;
				}

				@media all and (max-device-width: $large - 1) {
					font-size: 6pt;
				}
			}
		}
	}

	.map-wraper {
		min-height: 500px;

		#map {
			min-height: 500px;
			width: 100%;
			height: 100%;
		}
	}

	@extend %red, %single-row;
}
