@import 'slider.scss';
@import 'phone-common.scss';

main > .camp {

	& > .main-info {
		width: 80vw;
		margin-left: auto;
		margin-right: auto;

		& > .title {
			@extend %flexbox;
			@include flex-direction(column);

			width: 80vw;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 60px;

			
			text-align: center;
			font-size: 17pt;
			font-weight: bold;

			& > .subtitle {
				font-weight: normal;
				font-size: 17pt;
			}
		}

		& > .about {
			@extend %flexbox;
			@include flex-direction(column);

			padding-bottom: 50px;

			& > img {
				width: 30vw;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 30px;
			}

			& > .script {
				text-align: center;
				font-size: 20pt;
				color: $blue;

				padding-bottom: 60px;

				& > .title {
					font-size: 40pt;
					line-height: 1;
					padding-bottom: 30px;
					text-transform: capitalize;
				}

				& > .info {
					font-size: 22pt;
				}
			}
		}

		& > .projects {
			font-size: 20pt;
			text-align: center;
			color: $blue;

			padding-bottom: 50px;


			& > .list {
				@extend %slider;
				padding-top: 40px;

				& > .project {
					@extend %flexbox;
					@include flex-direction(column);

					color: $black;

					& > * {
						margin-left: auto;
						margin-right: auto;
					}

					img {
						width: 60%;
						margin-bottom: 20px;	
					}
				}
			}
		}

		& > .result {
			text-align: center;
			& > .text {
				padding-top: 30px;

				& > .title {
					font-weight: bold;
					font-size: 17pt;

					padding-bottom: 20px;
				}
			}
		}

	}

	@extend %yellow, %row;
}


main > .camp-moto {

	padding-top: 30px;
	padding-bottom: 0;

	& > .text {
		width: 80vw;

		text-align: center;

		font-size: 15pt;
		font-weight: bold;

		margin-right: auto;
		margin-left: auto;

		padding-bottom: 30px;
	}

	img {
		width: 100%;
		display: block;
	}


	@extend %yellow, %row;
}

main > .camp-pros {
	padding-top: 40px;
	padding-bottom: 40px;

	& > .list {
		 width: 80vw;
		 margin-right: auto;
                 margin-left: auto;
		& > * {
			& > .logo {
				.image {
					margin-left: auto;
					margin-right: auto;

					padding-bottom: 20px;

					width: 30%;

					img {
						width: 100%;
					}
				}

				.text {
					padding-bottom: 20px;

					text-align: center;

					font-size: 15pt;
					font-weight: bold;

					br {
						content: ' ';
					}
				}
			}
			ul {
				margin-left: 20px;
			}
		}
		@extend %slider;
	}

	@extend %yellow, %row;
}

main > .camp-price {
	padding-top: 40px;
	padding-bottom: 40px;

	& > * {
		width: 80vw;
		margin-left: auto;
		margin-right: auto;

		& > .image {
			width: 60%;
			padding-bottom: 20px;
			margin-left: auto;
			margin-right: auto;

			img {
				width: 100%;
			}
		}

		& > .text {
			& > .main {
				text-align: center;
				font-size: 15pt;
				font-weight: bold;

				padding-bottom: 30px;

			}

			& > .parts {
				* {
					padding-bottom: 20px;

					.number {
						font-weight: bold;
					}
				}
			}
		}
	}
	@extend %yellow, %row;
}

main > .camp-map {

	padding-top: 30px;
	padding-bottom: 30px;

	& > .data {
		width: 80vw;

		margin-left: auto;
		margin-right: auto;

		text-align: center;

		& > div {
			font-weight: bold;

			a {
				color: $black;
				text-decoration: none;
				display: inline-block;
				margin-top: 20px;
				border-radius: 20px;
				padding: 5px 7px;
				border: 1px solid $black;
			}
		}

		& > .name {
			padding-bottom: 40px;
		}
	}

	@extend %yellow, %row;
}


