@import 'common.scss';

main > .camp {
	
	& > .main-info {
		padding-top: 80px;
		padding-bottom: 80px;

		@extend %flexbox;

		@include flex-direction(row);
		@include justify-content(space-between);
		@include flex-wrap(wrap);


		& > .title {
			font-size: 19pt;
			font-weight: bold;

			width: 30%;

			& > .subtitle {
				font-size: 19pt;
				font-weight: normal;
			}
		}

		& > .about {
			@extend %flexbox;

			@include flex-direction(row);
			@include justify-content(space-between);

			width: 50%;

			color: $blue;

			padding-bottom: 60px;


			& > img {
				width: 30%;
			}

			& > .script {
				width: 65%;

				& > .title {
					font-size: 21pt;
					font-weight: bold;

					padding-bottom: 30px;
					text-transform: capitalize
				}	
			}
		}
		& > .projects {
			color: $blue;

			& > .list {
				@extend %flexbox;
	
				@include flex-direction(row);
				@include justify-content(space-between);

				color: black;

				margin-top: auto;
				margin-bottom: auto;

				padding-bottom: 60px;
				padding-top: 30px;

				
				& > .project {
					@extend %flexbox;
					@include flex-direction(column);


					width: 12%;
					font-size: 9pt;

					text-align: center;

					& > .title {
						font-weight: bold;
						font-size: 11pt;
					}

					& > .image {
						@extend %flexbox;
						@include flex-direction(row);
						@include  justify-content(center);

						width: 70%;
						margin-left: auto;
						margin-right: auto;

						& > img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}

		& > .result {
			@extend %flexbox;
	
			@include flex-direction(row);
			@include justify-content(space-between);

			margin-top: auto;
	
			& > .image {
				width: 45%;
			}

			& > .text {
				width: 50%;

				& > .title {
					font-size: 21pt;

					padding-bottom: 10px;
				}
			}
		}
	}
	
	@extend %yellow, %double-row;
}

main > 	.camp-moto {

	min-height: 0px;

	& > .text {
		font-size: 21pt;
	}
	& > .image {
		& > .wraper {
			width: 100%;

			& > img {
				width: 100%;
				display: block;
			}
		}
	}
	@extend %yellow, %single-row;
}

main > .camp-pros {

	min-height: 0px;

	& > .list {
		@extend %flexbox;

		@include flex-direction(row);
		@include justify-content(space-between);

		& > * {
			padding-top: 40px;
			padding-bottom: 40px;

			&:nth-child(1) > * {
				padding-right: 30px;
			}

			&:nth-child(n + 2) > * {
				padding-left: 30px;
			}

			& > .logo {
				@extend %flexbox;

				@include flex-direction(row);
				@include justify-content(flex-start);
				margin-bottom: 30px;

				& > .image {
					width: 33%;
					padding-right: 30px;
		

					& > img {
						width: 100%;
					}
				}

				& > .text {
					font-size: 15pt;
					font-weight: bold;

					margin-top: auto;
					margin-bottom: auto;
				}
			}
			
			& > ul {
				padding-right: 50px;
				margin-left: 10px;

				& > li {
					padding-bottom: 10px;
				}
			}
		}

		& > .interest {
			@media all and (min-width: $large) {
				width: 358px;
			}

			@media all and (max-width: $large - 1) {
				width: calc(34% - 2px);
			}
			border-right: 2px solid white;
		}

		& > .safety {
			@media all and (min-width: $large) {
				width: 360px;
			}

			@media all and (max-width: $large - 1) {
				width: 32%;
			}

		}

		& > .health {
			@media all and (min-width: $large) {
				width: 358px;
			}

			@media all and (max-width: $large - 1) {
				width: calc(34% - 2px);
			}
			border-left: 2px solid white;
		}

	}

	@extend %yellow, %double-row;
}

main > .camp-price {

	min-height: 0px;
	padding-top: 30px;
	padding-bottom: 30px;

	& > * {
		@extend %flexbox;

		@include flex-direction(row);
		@include justify-content(space-between);

		& > .image {
			width: 10%;
	
			& > img {
				width: 100%;
			}
		}
	
		& > .text {
			width: 85%;

			& > .main {
				font-size: 15pt;
				font-weight: bold;

				padding-bottom: 20px;
			}

			& > .parts {
				@extend %flexbox;
	
	        		@include flex-direction(row);
			        @include justify-content(space-between);
	
				& > * {
					width: 33%;
					padding-right: 30px;
				}

				.number {
					font-weight: bold;
				}
			}
		}
	}


	@extend %yellow, %double-row;
}


main > .camp-map {
	@extend %flexbox;
	@include flex-direction(row);
	@include justify-content(flex-start);

	height: 250px;
	border-bottom: 2px solid white;


	#camp-map {
		@media all and (min-width: $large) {
			width: calc(50% + 162px);
		}

		@media all and (max-width: $large - 1) {
			width: 64%;
		}

		border-right: 2px solid white;
	}

	& > .data {
		@media all and (min-width: $large) {
			width: 382px;
		}

		@media all and (max-width: $large - 1) {
			width: 34%;
		}

		height: 100%;

		padding-left: 30px;

		@extend %flexbox;
		@include flex-direction(column);
		@include justify-content(space-around);

		font-weight: bold;

		& > .name > a{
			display: none;
		}

		& > * {
			@extend %flexbox;
			@include flex-direction(column);

			& > a {
				text-decoration: none;
				color: $black;

				margin-top: 10px;

				border-radius: 20px;
	        	        border: 2px solid black;
		
		                padding: 5px 7px;

				margin-right: auto;
			}
		}

	}

	@extend %yellow;
}
