@import 'common.scss';

header {
	position: fixed;
	top: 0;
	left: 0;

 	width: 100%;

	@extend %flexbox;
	@include justify-content(center);

	background-color: $blue;
	font-size: 12pt;
	color: white;

	border-bottom: 2px solid white;

	z-index: 100;

	a:hover {
		opacity: 0.5;
	}

	& > div {
		@media all and (min-device-width: $large) {
			width: $large / 12 - 2;
		}

		@media all and (max-device-width: $large - 1) {
			width: calc(8% - 2px);
		}

		border-right: 2px solid white;

		padding-top: 20px;
		padding-bottom: 20px;

		@extend %flexbox;
		@include justify-content(center);
	
		a {
			text-decoration: none;
			color: white;
			cursor: pointer;
		}	
		
		&:first-child {
			@include justify-content(flex-start);
		}

		&.phone {
			@include justify-content(flex-end);
			border-right: 0;
		}
		
		* {
			margin-bottom: auto;
			margin-top: auto;
		}
	}

	.logo {
		@media all and (min-device-width: $large) {
			width: 2 * $large / 12  - 3;
		}

		@media all and (max-device-width: $large - 1) {
			width: calc(16% - 2px);
		}

		img {
			@media all and (min-device-width: $large) {
				height: calc(12pt + 18px);
			}

			@media all and (max-device-width: $large - 1) {
				height: calc(8pt + 18px);
			}
		}
	}

	.phone {
		@media all and (min-device-width: $large) {
			width: 2 * $large / 12;
		}

		@media all and (max-device-width: $large - 1) {
			width: 16%;
		}
		@include order(100);
	}

	.register {
		@media all and (min-device-width: $large) {
			width: 2 * $large / 12  - 2;
		}

		@media all and (max-device-width: $large - 1) {
			width: calc(16% - 2px);
		}

		background-color: $red;
	}

	.circled {
		border-radius: 20px;
		border: 2px solid white;

		padding: 5px 7px;
	}

	.vk a {
		font-size: 9pt;
		font-weight: 900;
	}

	.burger, .cross {
		display: none;
	}
}

