@import 'phone-common.scss';

main > .prices {	
	& > * {
		width: 80vw;

		margin-left: auto;
		margin-right: auto;

		border-bottom: 1px solid white;
		padding-bottom: 20px;
		padding-top: 20px;

		text-align: center;

	}

	h1 {
		font-size: 20pt;
	}

	.offer {
		order: 3;
		border: 0;
	}

	.list {
		h2 {
			display: none;
		}

		.price {
			border-bottom: 1px solid white;
			padding-bottom: 20px;
			padding-top: 20px;
	
			&:first-of-type {
				padding-top: 0;
			}
		
			&:last-of-type {
				border: 0;
				padding-bottom: 0;
			}

			.duration {
				font-size: 25pt;
				font-weight: bold;

				padding-bottom: 5px;
			}

			.value {
				font-weight: bold;
				font-size: 18pt;
				color: $red;
			}
		}
		
	}

	@extend %row, %gray;
}
