@import 'common.scss';

main > .prices {
	@include flex-direction(row);
	@include justify-content(space-between);
	@include flex-wrap(wrap);

	@media all and (min-device-width: $large) {
		padding-left: calc(50% -  540px);
		padding-right: calc(50% - 540px);

	}

	@media all and (max-device-width: $large - 1) {
		padding-left: 2%;
		padding-right: 2%;
	}

	h1 {
		width: 30%;
		padding: 0;

		margin-top: auto;
		margin-bottom: 70px;

		font-size: 22pt;
		font-weight: lighter;

		border-bottom: 1px solid gray;

		padding-bottom: 20px;
	}

	.offer {
		width: 70%;

		margin-top: auto;
		margin-bottom: 70px;

		border-bottom: 1px solid gray;
		padding-bottom: 20px;


		h2 {
			display: inline-block;
			font-weight: bold;
		}
	}

	.list {
		@extend %flexbox;
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		margin-bottom: auto;

		width: 100%;

		h2 {
			width: 100%;
			text-align: center;	

			font-size: 20pt;
			font-weight: lighter;

			padding-bottom: 40px;
		}

		.price {
			border-right: 1px solid $black;
			
			width: 33%;

			&:last-child {
				border-right: 0;
			}

			div {
				text-align: center;
			}

			.duration {
				font-size: 20pt;
				font-weight: bold;

				padding-bottom: 30px;
			}

			.value {
				color: $red;
			}
		}
	}

	@extend %gray, %row;
}
