@import 'common.scss';

main > .register {
	@include flex-direction(column);
	@include justify-content(center);

	padding-top: 90px;
	padding-bottom: 90px;

	& > * {
		@extend %flexbox;
		@include justify-content(space-between);
	}

	.content {
		padding-bottom: 40px;


		.intro {
			@media all and (min-device-width: $large) {
				width: 570px;
			}
	
			@media all and (max-device-width: $large - 1) {
				width: 52%;
			}
	
			& > *:first-child {
				@media all and (min-device-width: $large) {
					min-height: 183px
				}
	
				@media all and (max-device-width: $large - 1) {
				}

				@extend %flexbox;
				@include flex-direction(row-reverse);
				@include justify-content(space-between);

				padding-bottom: 20px;
				div {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 20pt;
					width: 66%;
				}

				img {
					width: 32%;
					padding-bottom: 30px;
				}
			}

			.information {
				@extend %flexbox;
				@include justify-content(space-between);
				
				& > div {
					width: 32%;

					border-top: 1px solid white;
					margin-top: 20px;
					padding-top: 10px;

					div {
						display: inline-block;
			
						font-weight: bold;

						border-radius: 20px;
						border: 2px solid white;
						padding: 0px 7px;

						margin-top: 5px;
					}
				}
			}
		}
		
		.form {
		
			@media all and (min-device-width: $large) {
				width: 440px;
			}
	
			@media all and (max-device-width: $large - 1) {
				width: 40%;
			}

			.notification {
				display: none;
			}

			&.sent > form {
				display: none;
			}

			&.sent > .notification {
				display: block;

				border: 5px solid $red;
				font-size: 20pt;

				text-align: center;

				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
			
				width: 100%;
				height: 100%;
				padding: 5%;
			} 

			span {
				display: none;
			}

			input[type=text] {
				width: 100%;
				
				background-color: $blue;
				color: white;

				border: 0;
				border-bottom: 1px solid white;

				padding-bottom: 10px;
				padding-top: 10px;

				margin-bottom: 20px;

				&:focus {
					border: 0;
					border-bottom: 1px solid white;
				}

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: white;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: white;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: white;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: white;
				}

			}

			.ss-required {
				position: relative;
	
				&::after {
					display: block;
					content: "●";
					font-family: monospace;
 					width: 36px;
					height: 43px;
					font-size: 22px;
					line-height: 43px;
					position: absolute;
					right: 0px;
					bottom: 16px;
					color: $red;
					z-index: 0;
				}
			}

			input[type=submit] {
				font-size: 17pt;
				font-weight: bold;
				
				background-color: $red;
				color: white;

				border: 0;
				border-radius: 60px;

				margin-left: auto;
				margin-right: auto;
				padding: 10px 20px;
				display: block;
				margin-top: 20px;
			}

			select {
				width: 100%;
			
				background-color: $blue;
				color: white;

				border: 0;
				border-bottom: 1px solid white;
				border-radius: 0;

				-webkit-appearance: none;
				-webkit-border-radius: 0px;

				-moz-appearance:none;

				padding-bottom: 10px;
				padding-top: 10px;

				margin-bottom: 20px;	
			}
			
			.ss-select {
				position: relative;

				&::after {
					display: block;
					content: "";
					font-family: monospace;
 					width: 20px;
					height: 10px;
					position: absolute;
					right: 0px;
					bottom: 16px;
					color: $red;
					z-index: 0;
					background-image: url(../../icons/arrow-form.png);
					background-repeat: no-repeat;
					background-size: contain;
					margin-bottom: 20px;
					padding-right: 18px;
				}
			}
		}
	}

	.footnote {	
		font-weight: lighter;

		border-top: 1px solid white;
		padding-top: 10px;
			
		* {
			font-size: 8pt;
	
			&:first-child {
				width: 360px;
			}

			&:last-child {
				width: 720px;
			}
		}
	}		

	@extend %blue, %double-row;
}
