@import 'common.scss';

main > .reviews {
	@include flex-direction(column);
	@include justify-content(center);
	overflow: hidden;

	.list {
		@extend %flexbox;
		@include flex-direction(row);

		overflow: hidden;
		
		width: 100%;
		padding-left: calc(50% - 540px);

		position: relative;

		.current + div > img {
			left: calc(547px - 100%);
			position: relative;
		}	

		div {
			img:first-child {
				width: 531px;

				max-width: 100%;
			}

			img:nth-child(2) {
				display:none;
			}

			min-width: 100%;
			position: relative;	
		}

		.left {
			position: absolute;
			z-index: 2;
			cursor: pointer;

			top: calc(50% - 29px);;
			left: 20px;

			width: 26px;
			height: 58px;

			background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='58'><line x1='25' y1='1' x2='1' y2='29' stroke-width='5' stroke-linecap='round' stroke='rgb(255,255,255)'  /><line x1='1' y1='29' x2='25' y2='57' stroke-linecap='round' stroke-width='5' stroke='rgb(255,255,255)' /> </svg>")  no-repeat;
		}

		 .right {
			position: absolute;
			z-index: 2;
			cursor: pointer;

			top: calc(50% - 29px);;
			left: calc(100vw - 46px);

			width: 26px;
			height: 58px;

			background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='58'><line x1='1' y1='1' x2='25' y2='29' stroke-width='5' stroke-linecap='round' stroke='rgb(255,255,255)'  /><line x1='25' y1='29' x2='1' y2='57' stroke-linecap='round' stroke-width='5' stroke='rgb(255,255,255)' /> </svg>")  no-repeat;
		}


	}

	@extend %blue, %double-row;

}
