@import 'common.scss';

main > .teachers {
	@include flex-direction(column);
	@include justify-content(center);

	.list {
		@extend %flexbox;
		@include justify-content(space-between);
		padding-bottom: 20px;
		padding-top: 10px;

		.info {
			@extend %flexbox;
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			@media all and (min-width: $large) {
				width: 320px;
			}
	
			@media all and (max-width: $large - 1) {
				width: 30%;
			}

			img {
				width: 80px;
				height: 80px;
				display: block;
				padding-bottom: 10px;
			}

			.name {
				width: calc(100% - 100px);

				margin-top: auto;
				margin-bottom: auto;

				padding-bottom: 10px;

				@extend %flexbox;
				flex-direction: column;
			
				* {
					font-size: 15pt;
					font-weight: 600;
				}
			}

			.bio {
				width: 100%;
				font-weight: lighter;
			}
		}
	}

	@extend %blue, %double-row;
}
