@import 'slider.scss';
@import 'phone-common.scss';

main > .teachers {
	h1 {
		font-size: 20pt;
		text-align: center;
		padding-bottom: 40px;
		width: 80vw;
		margin-left: auto;
		margin-right: auto;
	}

	.list {
		& > div { 
			@extend %flexbox;
			@include flex-direction(column);

			& > * {
				margin-left: auto;
				margin-right: auto;
			}

			img {
				margin-bottom: 20px;	
			}
	
			.name {
				@extend %flexbox;

	
				.first::after {
					content: ' ';
					white-space: pre;
				}

				font-size: 15pt;
				font-weight: bold;
	
				text-align: center;
			}
	
			.bio {
				text-align: center;
			}
		}

		@extend %slider;
	}

	@extend %row, %blue;
}
