@import 'slider.scss';
@import 'phone-common.scss';

main > .videos {
	h1 {
		font-size: 20pt;
		text-align: center;
		padding-bottom: 40px; 
		width: 80vw;
		margin-left: auto;
		margin-right: auto;
	}

	.names {
		iframe {
			width: 100%;
			height: 60vw;
			padding-bottom: 20px;
		}

		@extend %slider;
	}	

	.video {
		display: none;
	}

	@extend %row, %gray;
}
