.accordion-toggle {cursor: pointer; color: rgb(52,74,254); display: block; margin-bottom: 0;}
.accordion-toggle img{
  vertical-align: bottom;
  margin-right: 10px;
}
.accordion-toggle:first-child{
  margin-top: 0;
  vertical-align: middle;
}
 .accordion-content {display: none; margin-left: 3em;}
 @media only screen and (max-width: 760px) {
   .accordion-content {display: none; margin-left: 0em;}
 }
 .accordion-content.default {display: block;}
