body{
  background: rgb(235,236,236);
}
.row{
  max-width: 1080px;
  margin: 0 auto;
}
section,footer{
  padding-top: 80px;
    padding-bottom: 40px;
}
section h2{
  margin-top: 0;
  font-size: 33px;
  font-weight: 400;
  color: #4F5252;
}
section#form h2{
  padding-top: 70px;
}
section#form img{
  mix-blend-mode: multiply;
}
header{
  border-bottom: 1px solid rgb(215,214,213);
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background: rgb(235,236,236);
  z-index: 3;
}
.phonenumber{
  display: none;
}

header .logo{
padding-top: 15px;
}
nav{
  padding: 25px 20px 20px 20px;
}
nav a{
  text-decoration: none;
  padding: 9px 20px;
  color: #4f5252;
  font-size: 15px;
}
nav a:hover{
  cursor: pointer;
  color: rgba(65,65,65, 0.5);
}
nav a.vk{
  color: rgb(54,74,254);
  border: 2px solid rgb(54,74,254);
  border-radius: 2em;
  padding: 3px 4px;
  font-weight: 700;
  margin-left: 10px;
  font-size: 12px;
}
nav a.vk:hover{
  color: rgba(54,74,254, 0.5);
  border-color: rgba(54,74,254,0.5);
}
nav a:last-child{
  border: 2px solid rgb(235,67,31);
  border-radius: 2em;
  color: rgb(235,67,31);
  font-size: 13px;
  padding: 3px 10px;
  font-weight: 700;
  margin-left: 20px;
}
nav a:last-child:hover{
  color: rgba(235,67,31,0.5);
  border-color: rgba(235,67,31, 0.5);
}
.teacher{
  text-align: center;
}
.lesson {
  text-align: center;
}
.lesson h3{
  font-weight: 300;
  font-size: 17pt;
  color: #4F5252;
}

.unslider-arrow.prev,
.unslider-arrow.next{
  font-size: 60px;
}
.big-number{
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  margin:0 10px;
}
.cost{
  color: rgb(52,74,254);
  font-size: 21px;
  font-weight: bold;
}
.lesson picture{
  margin: auto;
  height: 200px;
  display: flex;
}
.lesson picture img{
  margin: auto;
  display: block;
  vertical-align: middle;
}
.phonetag{
  position: fixed;
  background-image: url("../icons/ribbon.svg");
  width: 148px;
  height: 44px;
  right: 0;
  top: 15px;
  box-sizing: border-box;
  padding-top: 0;
  font-size: 18px;
  font-weight: 600;
}
section h2{
  margin-bottom: 80px;
}
.location{
  padding: 0;
}
.location h3{
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}
.location .h-card{
  list-style: none;
  margin-bottom: 20px;
  width: 260px;
  display: inline-block;
  float: left;
}
#vk_groups{
margin: 0 auto;
}
.location .p-locality{
  display: block;
}
#map{
  height: 400px;
}
.p-metro{
  margin-bottom: 20px;
  border-radius: 2em;
  padding: 5px 10px;
  border-width: 5px;
  border-style: solid;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
}
.p-metro.m-blue{
  border-color: rgb(15,119,193);
}
.p-metro.m-orange{
  border-color: rgb(243,128,24);
}
.p-metro.m-red{
  border-color: rgb(229,0,28);
}
.p-metro.m-orange{
  border-color: rgb(243,128,24);
}

.phone,.email{
  font-size: 24px;
  text-align: center;
  color: #4F5252;
  font-weight: 300;
  border-left: 1px solid rgb(213,213,213);

}
.copyright{
  padding-left: 20px;
  border-left: 1px solid rgb(213,213,213);
}
.copyright small{
  margin-bottom: 40px;
}
.phonetag a{
  text-decoration: none;
  color: #fff;
  top: 7px;
  position: relative;
  left: 20px;
  font-size: 20px;
}
hr{
  border: 1px solid rgb(214,214,214);
}
/*FORM*/
.ss-select,
.ss-required{
  position: relative;
}
.ss-select:after{

}
.ss-required:after{
  display: block;
  content: "â—";
  font-family: monospace;
  width: 36px;
  height: 43px;
  font-size: 22px;
  line-height: 43px;
  position: absolute;
  right: 0px;
  top: 0;
  color: rgb(241,90,41);
  z-index: 0;
}
input[type=submit]{
  background-color: rgb(235,67,31);
  border-radius: 2em;
  border: 0px solid rgb(235,67,31);
  color: #fff;
  font-size: 22px;
  padding: 2px 19px;
  text-align: center;
  width: auto;
  margin: auto;
  display: block;
  font-weight: bold;
  height: 43px;
}
input[type=submit]:hover{
  background-color: rgb(235,67,31,0.5);
  border-color: rgb(235,67,31, 0.5);
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}
.ss-form-question{
  border-radius: 2em;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #fff;
  margin-bottom: 23px;
}
input, select{
  width: 100%;
  height: 43px;
  border-style: none;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 16px;
}


#nav-icon4 {
  width: 20px;
  height: 15px;
  position: relative;
  margin: 20px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #4667FF;
  border-radius: 9px;
  border: 1px solid #4667FF;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 7px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 14px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 13px;
  left: 8px;
}


select{
  width: 100%;
  background: none;
  border-radius: 2em;
  background: url('../icons/arrow.svg') no-repeat right #fff;
  color: #939291;
  background-position-x: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#form h2{
  color: rgb(52,74,254);
  font-weight: normal;
}

option:disabled{
    color: #ccc;
}
/* HELPERS */

.text-center{
  text-align: center !important;
}
.bg-white{
  background: #fff !important;
}
.bg-lightgray{
  background: rgb(242,242,242) !important;
}
.bottom-blue{
  border-bottom: 4px solid rgb(53,74,254);
}
.bottom-red{
  border-bottom: 4px solid rgb(234,67,32);
}
.right-border{
  border-right: 1px solid rgb(213,213,213);
}
.bottom-border{
  border-bottom: 1px solid rgb(213,213,213);
}
.mt0{
  margin-top: 0px !important;
}
.mb0{
  margin-bottom: 0px !important;
}
.mt20{
  margin-top: 20px !important;
}
.mb40{
  margin-bottom: 40px !important;
}
.ml60{
  margin-left: 60px !important;
}
.mr60{
  margin-right: 60px !important;
}

.ib{
  display: inline-block !important;
}
.muted{
  color: #999;
}
.vat{
  vertical-align: top !important;
}
.vam{
  vertical-align: middle !important;
}
.video{
  display: none;
}
.clear{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.modal{
  display: none;
}
.modal.open{
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    background-color: rgba(0,0,0,0.5);
    display: flex;
}
.modal content{
  width: 40%;
  height: auto;
  background: #fff;
  display: block;
  padding: 40px;
  margin: auto;
  position: relative;
}
.modal content h2{
  text-align: center;
}
.modal content p{
  text-align: center;
}
.close-modal{
  position: absolute;
  top: 0;
  right: 0;
}
.pricing{
  margin-bottom: 40px;
}
.pricing .ruble{
  margin-right: 20px;
  padding-right: 20px;
  padding-top: 35px;
  padding-left: 24px;
}
.pricing .subscription{
  padding-left: 20px;
  height: 176px;
  border-left: 2px solid rgb(213,213,213);
}
.pricing .subscription h3,
.pricing .discount h3{
font-size: 18px;
font-weight: 300;

}
.pricing .discount{
  padding-left: 20px;
  border-left: 2px solid rgb(213,213,213);
}
.pricing .percent{
  margin-right: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 1220px) {
  a.vk, a.vk + a{
    display: none;
  }
  .modal content{
    width: 50%;
  }
}
@media only screen and (max-width: 1030px) {
  header nav a{
    padding: 9px 10px;
  }
  .modal content{
    width: 60%;
  }
}
@media only screen and (max-width: 920px) {
  .phonetag{
    display: none;
  }
  .modal content{
    width: 70%;
  }
}

.close, .menu-button{
  display: none;
}
@media only screen and (max-width: 920px) {
  .modal content{
    width: 80%;
  }
  .menu-button{
    display: block;
    float: right;
  }
  .container-fluid{
    padding: 0;
  }
  .text-menu{
    display: none;
  }
  .text-menu.absolute{
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
    background: rgba(70, 103, 255, 0.95);
    max-width: 100%;
    flex-basis: auto;
  }
  .text-menu a{
    display: block;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }
  .text-menu a.vk{
    display: none;
  }
  .close{
    display: block;
    float: right;
    color: #fff;
  }

}
.robot{
  margin-left: 100px;
  height: 280px;
}
@media only screen and (max-width: 760px) {
  .phonenumber{
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
    width: 100px;
    margin: 0 auto;
    color: rgb(234, 67, 32);
    text-decoration: none;
    padding: 15px 0px 10px 20px;
    vertical-align: top;
  }
  #location h2{
    margin-bottom: 40px;
  }
  #about img{
    max-width: 100px;
    max-height: 100px;
  }
  #about hr{
    display: none;
  }
  #about h3{
    font-size: 11pt;
  }
  .stat{
    width: 50%;
    font-size: 16px;
    display: inline-block;
    float: left;
    text-align: left;
  }
  .stat > div{
    margin-bottom: 20px;
  }
  .stat .muted{
    display: block;
    width: 100%;
  }
  .stat .big-number{
    margin-left: 0
  }
  #form img{
    display: inline-block;
    width: 50%;
    float: left;
  }
  #form img + hr{
    display: none;
  }
  .big-number{font-size:12pt}
  .text-menu.absolute{
    top: 55px;
  }
  .modal content{
    width: 90%;
  }
  .video{
    display: block;
    width: 90%;
    height: auto;
    margin: 20px auto 0 auto;;
  }
  footer, section{
    padding-top: 45px;
  }
  header{
    height: 55px;
  }
  h2{
    font-size: 22px !important;
  }
  .accordion-content p{
    width: 90%;
    margin: 10px auto;
  }
  .subscription, .discount{
    padding-left: 18px !important;
  }
  .lesson picture{
    height: 120px;
  }
  h5{
    margin-top: 5px;
  }
  header .logo{
  padding-top: 10px;
    width: 120px;
    height: 35px;
  }
  .robot{
    width: 120px;
    margin: 0 auto;
  }
  #videoframe {
    display: none;

  }
  .ruble{
    width: 40px;
    margin-right: 0 !important;
  }
  .percent{
    width: 39px;
    margin-right: 0px !important;
    margin-left: 22px;
  }
  .phone{
    width: 90%;
    border-top: 2px solid rgb(214,214,214);
      border-bottom: 2px solid rgb(214,214,214);

  }
  .email{
    width: 90%;
      border-bottom: 2px solid rgb(214,214,214);
  }
  .phone img{
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
  }
  .email img{
    width: 50px;
    padding-right: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .phone img + div,
  .email img + div{
    display: inline-block;
    font-size: 20px;
    width: 201px;
  }
  .copyright{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
  .copyright small{
    margin-bottom: 0;
  }
  .copyright small{
    margin-bottom: 0;
    margin-top: 0;
  }
  #vk_groups{
    margin-bottom: 40px;
  }

}
@media only screen and (max-width: 320px) {
  .stat{
    font-size: 13px;
  }
}
